@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@inject Microsoft.Extensions.Options.IOptions<ListSettings> listSettings
@{
    ViewData["Title"] = "Home Page";
    string backgroundColor = listSettings.Value.BackgroundColor;
}


@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="myDIV" class="header" style="background-color: @backgroundColor">
        <h2>My To Do List</h2>
        @if ((bool)ViewData["IsOverFlow"])
        {
            <div class="alert alert-danger" role="alert">
                Maximun Capacity Reached for Adding Tasks
            </div>
        }
        else
        {
            <input type="text" id="myInput" name="Task" placeholder="Enter Task..." maxlength="100">
            <button type="submit" class="addBtn">Add</button>
        }
    </div>
}

@await Component.InvokeAsync("ToDoList")

<div class="text-center">
    <h4>Environment: <strong>@hostingEnv.EnvironmentName</strong></h4>
</div>